@mixin font_lato ($font-size:13px, $font-weight:400, $color: $black) {
    font-family: 'Lato', sans-serif;
    font-size: $font-size;
    font-weight: $font-weight;
    color: $color;
}

@mixin font_merriweather ($font-size:14px, $font-weight:300, $color: $black) {
    font-family: 'Merriweather', serif;
    font-size: $font-size;
    font-weight: $font-weight;
    color: $color;
}