.button-submit {
    margin-top:50px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: fit-content;
    position: relative;
    input{
        background: $black;
        color: $white;
        padding:20px 40px 20px 20px;
        width: 200px;
        text-transform: none;
        cursor: pointer;    
    }
    .next-icon{
        width: 15px;
        height: 15px;
        top:52px;
        right: 10px;
        position: absolute;
    }
}
