article {
    @include font_merriweather();
    font-style: italic;
    width: 50%;
    text-align: center;
    margin: 0 auto;

    @include respond-to(max-width, $lg) {
        width: 80%;
    }
}

a {color:$white;}

.slider {
    p{
        @include font_lato(30px, 300 ) ;
        text-transform: uppercase;
        letter-spacing: 10px;

        @include respond-to(max-width, $sm) {
            font-size: 20px;
        }
    }
}

.gallery{
    p{
        @include font_lato(13px, 400 ) ;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-bottom: 50px;
        padding: 0px 20px;
    }
}

h2 {
    @include font_lato(24px, 900);
    text-transform: uppercase;
    text-align: center;
    @include respond-to(max-width, $sm) {
        font-size: 18px;
    }
}

.adhara-universe-part {
    p,
    h2,
    article{ color: $white;}
}

input{
    @include font_lato();
    text-transform: capitalize;
}

.contact-footer,
.tweets{
    @include font_lato();
    color:$white;
    span{
        color:$dark-grey;
    }
}

h3{
    @include font_lato(18px, 600, $white);
    text-transform: uppercase;
    margin-bottom: 50px;

    @include respond-to(max-width, $sm) {
        font-size: 15px;
    }
}

.signature{
    p{
        @include font_lato(13px, 600, $white);
        font-style: italic;
    }
}

.button-submit{
    input{
        @include font_lato(13px, 600, $white);
        font-style: italic;
    }
}
a {
    outline: none;
    text-decoration: none;
}