input{
    padding: 10px 20px;
    width: 97%;
    $gutter: 50px;
    margin-top:30px;
    border: 1px solid $dark-grey;
}

.form-email,
.form-telephone{
    display: flex;
    justify-content: flex-end;
}
.form-message input{
    width: 100%;
    height: 200px;
    padding-bottom: 160px;
}

.form {
    padding: 100px;
    h2{
        padding-bottom: 30px;
    }
    .fas {
        position: absolute;
        top:40px;
        right: 20px;
    }
    .fa-user,
    .fa-map-marker{ right: 35px;}
}


/* Media queries*/

@include respond-to(max-width, $lg) {
    .form {
        padding-top: 50px;
        padding-bottom: 50px;
        h2{
            padding-bottom: 0px;
        }
    }
}
@include respond-to(max-width, $md) {
    input {
        width: 100%;
    }
    .form{
        .fa-user,
        .fa-map-marker{ right: 20px;}
    }
}
@include respond-to(max-width, $sm) {
    .form {
        padding: 0 20px;
        .row{ display: contents;}
    }
}