.gallery{
    text-align: center;
    h2{
        position: relative;
        margin-bottom: 50px;
        &::after{
            content: "";
            width: 50px;
            height: 1px;
            background: $black;
            position: absolute;
            bottom: -20px;
            left: 47%;
        }
    }
    .square{
        background: $black;
        height: 100%;
        &--grey{
            background: $grey;
            height: 100%;
        }
    }
    .design-part h2{ padding-top:200px;}
    .adhara-universe-part{
        background-image:url('../static/img/montagne-gallery.png') ;
        background-position: center;
        background-size: cover;
        padding: 200px 0px 100px;
        color: $white;
        position: relative;
        h2::after{background: $white;}
    }
    .article-section{ position: relative;}
    .full-image{
        height: 100%;
        width: 100%;
    }
}

/* Media queries */
@include respond-to(max-width, $lg) {
    .gallery{
        img{
            width: 150px;
        }
        .adhara-universe-part{
            padding: 50px 0px 100px;
        }
    }
}

@include respond-to(max-width, $md) {
    .gallery{
        .article-section,
        .adhara-universe-part{
            padding: 100px 0px;
        }
        h2{
            &::after{
                left: 45%;
            }
        }
    }
}
