.sliders{
    position: relative;
    display: flex;
    flex-direction: column;
}
.slider{
    padding-top: 2%;
    text-align: center;
    height: 90vh!important;
    background: $grey;
    position: relative;
    img{
        width: 200px;
        margin: 0 auto;
    }
    p{padding-bottom: 20px;}
}

.slick-dots{
    right: 0px!important;
    display: flex!important;
    flex-direction: column;
    top: 40%;
    align-items: flex-end;
    padding-right: 10px!important;
    li+li{
        margin-top: 10px!important;
    }
    button:before{
        content: ""!important;
        width: 10px!important;
        height: 10px!important;
        border-radius: 50%;
        background-color: $black!important;
        opacity: 1!important;
    }
    li.slick-active button:before,
    li button:hover:before{
        border: 2px solid $black!important;
        background: transparent!important;
        border-radius: 50%!important;
    }
}

.slick-dotted.slick-slider {margin-bottom: 0px!important;}

/* Medias queries */
@include respond-to(max-width, $lg) {
    .slider{
        img{
            width: 150px;
        }
    }
}

@include respond-to(max-width, $md) {
    .slider{
        padding-top: 200px;
    }
}


@include respond-to(max-width, $sm) {
    .slider{
        padding-top: 100px;
        height: 78vh!important;
    }
    .slick-dots{
        justify-content: center;
        flex-direction: initial;
        bottom: 15px!important;
    }
}