*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* container */
.container {
  width: calc(100% - #{$total_gutter});
  max-width: $container_max;
  margin: 50px auto;

  &.container--fluid {
      max-width: none;
  }
}

li{
  list-style-type: none;
}

.position--relative{position: relative;}