.padding-top{
    &--100 {
        padding-top: 100px;
    }
    &--200{
        padding-top:200px;
        @media (max-width: $lg) {
            padding-top: 50px;
        }
    }
}

.padding-bottom{
    &--100 {
        padding-bottom: 100px;
    }
}
.margin-top{
    &--18 {
        margin-top: 18px;
    }
}

.center{
    text-align: center;
}

.tweet{
    display: flex;
    p{
        margin: 0px 20px;
    }
}