/* ========= couleur des textes ========= */
$gold: #eae0b2;
$black: #2a2a2a;
$white: #ffffff;
$grey: #f7f7f8;
$dark-grey: #767676;
/* ========= Breakpoints ========= */
$sm:600px;
$md:900px;
$lg:1200px;

/* ========= grid ========= */
$container_max: 1150px;
$total_col: 12;
$gutter: 0px; /* espacement entre les grid */
$total_gutter: $gutter * 2;