.footer{
    background-image: url('../static/img/footer-montagne.png');
    background-position: center;
    background-size: cover;
    padding: 50px 100px;
    overflow-x: hidden;
}

.footer-info{
    padding-bottom: 100px;
}

.contact-footer{
    ul{
        padding:0;
        li{
            padding-top:10px;
        }
    }
    .contact{
        display: flex;
        align-items: center;
        align-content: center;
        padding-top:20px;
        a {
            width: 100%;
            display: contents;
        }
        img{
            width: 13px;
            margin-left:30px;
        }
        .link{
            position: relative;
            display: flex;
            align-items: center;
            align-content: center;
        }

        .contact-link{
            display: flex;
            li{padding:0;}
            .next-icon{ 
                width: 13px;
                margin-left: 10px;
            }
        }
    }
}

.tweet{
    display: flex;
    p{
        margin: 0px 30px;
        max-width: 300px;
    }
    &+.tweet{
        margin-top:50px;
    }
}

.signature{
    padding-top:50px;
    text-align: center;
    position: relative;
    width: 300px;
    margin: 0 auto!important;
    p{
        width: 300px;
        margin:0 auto;
    }
    p::after,
    p::before{
        content: "";
        width: 30px;
        height: 1px;
        background: $white;
        position: absolute;
        bottom: 5px;
        right: 0px;
    }
    p::before{
        left:0px;
    }
}

/* Media queries*/

@include respond-to(max-width, $md) {
    .footer {
        padding: 0px 20px 20px;
        h3{margin:40px 0px 20px;}

        .footer-info{
            padding-bottom: 50px;
        }
    }
}