.menu-hamburger{display: none;}
.menu-mobile {display: none;}
.menu {
    background: $black;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    .menu-desktop{
        display:flex;
        align-items: center;
    }
    .logo{
        display: flex;
        width: 100%;
        margin: 0 auto;
        padding: 0 50px;
    }
    ul {
        display: flex;
        padding: 0;
        position: relative;
        li {
            @include font_lato(14px, 300, $white);
            text-transform: uppercase;
            margin-left: 30px;
            position: relative;
        }
        :first-child{
            margin-left: 0px;
        }
        :hover{
            color: $gold;
            transition: all .2s;
            &:after {
                content: "";
                width: 100%;
                height: 5px;
                background: $gold;
                position: absolute;
                bottom: -45px;
                left: 0px;
            }
        }
    }
    img{
        width: 45px;
        padding-left:30px ;
    }
}

// responsive
@include respond-to(max-width, $lg) {
    .menu-hamburger {
        display: block;
        width: 40px;
        height: 40px;
        margin: 0 30px;
        position: relative;
        cursor: pointer;
        ul{
            width: 100%;
            height: 100%;
            margin:0;
            :hover{
                &:after {
                    width: 0%;
                }
            }
           li{
            content: "";
            position: absolute;
            top: 7px;
            right: 0;
            height: 2px;
            width: 40px;
            background: $white;
           }
           li:nth-child(2){
               width: 20px;
               transition: width .2s;
            &:hover{
                   width: 40px;
               }
            }
           li+li{
               margin-top:10px;
           }
           li:last-child{
            margin-top:20px;
            }
        }
    }
    .menu{
        justify-content: space-between;
        .menu-info {
            display: none;
        }
        .right-side--mobile{
            display: flex;
            align-items: center;
        }
        ul {
            :hover{
                &::after{
                    width: 0%;
                }
            }
        }
    }
    .menu-mobile{
        display: block;
        overflow-y: scroll;
        position: fixed;
        z-index: 10;
        background: $black;
        padding: 50px 0px;
        width: 80%;
        height: 100vh;
        left: -1000px;
        top: 0;
        transition: left .5s;
        ul{
            display: flex;
            flex-direction: column;
            a{
                border-top:0.1px solid $dark-grey ;
                li{
                    padding:30px 0px 30px 30px;
                }
            }
            .first-element{
                margin:0;
            }
            .last-element{
                border-bottom:0.1px solid $dark-grey ;
            }
        }
    }
    #overlay {
        position: fixed;
        display: none;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.5);
        z-index: 2;
        cursor: pointer;
    }
}

@include respond-to(max-width, $sm) {
    .menu{
        .logo{padding: 0 20px;}
    }
    .menu-mobile{
        padding:0px;
        ul{
            a{
                border-top:1px solid $grey ;
                li{
                    padding:15px 0px 15px 15px;
                }
            }
        }
    }
}
